<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="dbLocal" connectionString="Server=localhost;Port=5432; Database=cardb; User Id=erikdemo; Password=Hemligt "/>
    <add name="dbConn" connectionString="Server=studentpsql.miun.se;Port=5432; Database=environmentDb;User Id=envUser;Password=FridaysForFuture;SslMode=Require; Trust Server Certificate=true;"/>

  </connectionStrings>
</configuration>